#read common.tt
#alias start
{
	#session t 127.0.0.1 4000;
	#delay 0.1 contagion;
	#delay 0.2 foo;
	#delay 0.8 #cr;
	#delay 0.9 1;
}

#alias {SHELP} { #textin contagion-help.tt 0.5 }
#history read contagion-history.tt
