bin
log
*.swp
*.swo
src/syslog*
src/mods/experiment
src/mods/acl/tests/mk
src/mods/acl/tests/fileparser
config.*
src/.accepted
src/mods/test/*
src/mods/acl/experiment
src/mods/acl/tests/original.conf
syslog*
*a.out*
js-warnings
lib
callgrind.out*
