help pathogen_ammunition
help grim_aura
help melt
help suffocate
help shredded_cantrip
help muscle_memory
help hellfire_circle
help particle_deceleration
help ghastly_double
help minor_shielding
help cursed_ballistics
help neutron_shield
help bladed_array
help roots_of_mayhem
help morbid_doubt
help intimidate
help force_out
help leech
help parasitic_corpse_tap
help extract_organs
help recruit
help demonic_incantation
help shadow_sight
help morbid_insight
help life_tap
help corpse_explosion
help shrapnel_corpse_explosion
help corrosive_corpse_explosion
help hellfire_corpse_explosion
help attract
help confuse
help hellfire_incantation
help detonate_limb
