[start]
[std::string]
r_level,16
r_name,256
r_type,32
r_status,16

[player_id]
r_player_id

[mob_vnum]
r_mob_vnum

[room_vnum]
r_room_vnum

[zone_vnum]
r_zone_vnum

[initialize_row]
r_name
r_level
r_type

[end]
