../lib/plrobjs/*/*
hana
*.o
../bin/*
../bin
*.d
boost-cpp
js-warnings
warnings
../js-warnings
boost_1_66_0
../lib
GSL
../callgrind.out*
mods/test/*
*.so
build/*
tinker/code-features/*
../lib/etc/time
libcryptopp.a
../data
../lib/*.mdb
../sql-port-run
../data.mdb
../lock.mdb
run.txt
duktape-2.2.0/duk
duktape-2.2.0/libduktape.so.*
duktape-2.2.0/libduktaped.so.*
conf/
cscope.files
cscope.out
